<h2><%= @user.name %></h2>

<h3>Events</h3>

<ul>
  <% @user.events.each do |event| %>
    <li>
      <%= link_to event.name, event %>
      <%= "#{event.date}, #{event.location}" %>
    </li>
  <% end %>
</ul>

<%= render 'common/event_links' %>

<%= render 'common/devise_links' %>
