<h2><%= @event.name %></h2>

<p>Created by: <%= link_to @event.creator.name, @event.creator %></p>

<p><%= "Date: #{@event.date}" %></p>

<p><%= "Location: #{@event.location}" %></p>

<p><%= @event.description %></p>

<p><%= link_to "All Events", Event %></p>

<%= render 'common/devise_links' %>
